@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}
header {
    height: 125px;
    width: 100%;
}
#header-wrapper {
    height: 100%;
    width: calc(100% - 160px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    color: black;
    text-decoration: none;
}
nav {
    display: none;
}
main {
    height: calc(100% - 125px);
    width: 100%;
}
#content-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    padding-bottom: 50px;
    padding-right: 80px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
#inner-content {
    grid-column: 1 / span 5;
    grid-row: 1 / span 8;
    padding-left: 80px;
    padding-right: 80px;
    /* padding-bottom: 50px; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
#heading {
    grid-column: 2 / span 12;
    grid-row: 1 / span 3;
    padding-left: 80px;
}
#heading svg {
    max-width: 100%;
    max-height: 50%;
}
/* #heading h1 {
    grid-column: 1 / span 17;
    grid-row: 1 / span 1;
    font-size: 50px;
}
#heading h2 {
    grid-column: 17 / span 4;
    grid-row: 3 / span 1;
    font-size: 50px;
    align-items: flex-end;
    justify-content: flex-end;
}
#first-line {
    grid-column: 4 / span 13;
    grid-row: 2 / span 1;
    height: 4px;
    width: 100%;
    background-color: black;
} */
/* #heading h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
} */
#category-wrapper {
    grid-column: 1 / span 12;
    grid-row: 4 / span 9;
    padding-left: 80px;
    margin-bottom: -8px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
#category-img-slider {
    grid-column: 1 / span 6;
    grid-row: 1 / span 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#category-main-img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
}
#category-secondary-img {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
#category-main-img img,
#category-secondary-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#category-secondary-img img {
    filter: grayscale(1);
}
#category-chooser-label-wrapper {
    grid-column: 1 / span 6;
    grid-row: 6 / span 1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    align-items:flex-end;
}
#category-label {
    grid-column: 1 / span 7;
    grid-row: 1 / span 1;
}
#category-label p {
    font-size: 30px;
}
#category-chooser {
    grid-column: 8 / span 2;
    grid-row: 1 / span 1;
    height: 36.67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#category-back,
#category-forward {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
#category-back svg:first-child {
    transform: translateX(220%);
    transition: all 0.2s ease-in-out;
}
#category-back svg:last-child {
    transform: translate(42%, -0.2px);
    opacity: 0;
    /* display: none; */
    transition: all 0.2s ease-in-out;
}
#category-back:hover svg:first-child {
    transform: translate(0);
}
#category-back:hover svg:last-child {
    transform: translate(-22%, -0.2px);
    opacity: 1;
    /* display: initial; */
}
#category-forward svg:first-child {
    transform: translate(-42%, -0.2px);
    opacity: 0;
    /* display: none; */
    transition: all 0.2s ease-in-out;
}
#category-forward svg:last-child {
    transform: translateX(-220%);
    transition: all 0.2s ease-in-out;
}
#category-forward:hover svg:last-child {
    transform: translate(0);
}
#category-forward:hover svg:first-child {
    transform: translate(22%, -0.2px);
    opacity: 1;
    /* display: initial; */
}
#instagram {
    grid-column: 1 / span 1;
    grid-row: 1 / span 12;
    /* padding-right: 80px;
    padding-top: 50px; */
    /* position: absolute;
    left: 80px;
    bottom: 50px; */
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: flex-end;
}
#instagram p {
    margin-top: 10px;
    font-size: 15px;
}
#instagram svg {
    height: 17px;
    transform: rotate(180deg);
}
#category-wrapper {
    grid-column: 2 / span 11;
    grid-row: 4 / span 9;
}
#big-picture {
    grid-column: 6 / span 3;
    grid-row: 1 / span 8;
}
#big-picture-img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 0;
}