.fit-image {
    height: 100%;
    width: 100%;
}
#my-grid {
    margin: 50px;
}
.grid-padding {
    padding: 0 8px;
}
.grid-padding img {
    margin-bottom: 15px;
    transition: 0.8s ease;
}
.grid-padding img:hover {
    box-shadow: 0 10px 0 40px 0 rgba(0, 0, 0, 0.5);
    transition: 0.8s ease;
}